<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user_email">Email</label>
  <input
    type="text"
    name="user[email]"
    value="<%= @user.email %>"
    id="user_email">
  <br>

  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">
  <br>

  <label for="user_username">Username (optional)</label>
  <input
    type="text"
    name="user[username]"
    value="<%= @user.username %>"
    id="user_username">
  <br>

  <label for="user_fname">First Name (optional)</label>
  <input
    type="text"
    name="user[fname]"
    value="<%= @user.fname %>"
    id="user_fname">
  <br>

  <label for="user_lname">Last Name (optional)</label>
  <input
    type="text"
    name="user[lname]"
    value="<%= @user.lname %>"
    id="user_lname">
  <br>

  <input type="submit">
</form>
