<!DOCTYPE html>
<html>
<head>
  <title>Sinterest</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>


<%= yield %>

<footer class='page-footer'>
  <p>
    Sinterest was developed at AppAcademyNYC by Dan Cherouny.
  </p>
  <p>
    For information, contact Dan at dcherouny@gmail.com.
  </p>
</footer>
</body>
</html>
